<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Spartacus.Trivia"
    android:versionCode="1"
    android:versionName="0.5" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/spartacus"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/example_label" >
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/end_game" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/main_menu" >
        </activity>
        <activity android:name="com.google.ads.AdActivity" />

        <!--
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        -->
    </application>

</manifest>