<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.GameOfThrones.Trivia"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.9" >

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dany_port"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.GameOfThrones.Trivia.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.GameOfThrones.Trivia.GameActivity"
            android:label="@string/example_label" >
        </activity>
        <activity
            android:name="com.GameOfThrones.Trivia.ResultsActivity"
            android:label="@string/end_game" >
        </activity>
        <activity
            android:name="com.GameOfThrones.Trivia.MenuActivity"
            android:label="@string/main_menu" >
        </activity>

        <service
            android:name="com.GameOfThrones.Trivia.Services.MusicService"
            android:enabled="true" >
        </service>

        <receiver android:name="com.GameOfThrones.Trivia.MusicIntentReceiver" >
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.GameOfThrones.Trivia.HighScoreActivity"
            android:label="@string/title_activity_high_score" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.GameOfThrones.Trivia.MenuActivity" />
        </activity>
    </application>

</manifest>